<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Learn about Data mining tools
- Learn about APIs
- Learn about Data set and models
- Learn about languages used in data Science 
- Learn about Data asset control tools

# Some of the popular languages that Data Scientists use are:
1. Julia
2. Phyton
3. R

# Some of the commonly used libraries used by Data Scientists include:
* Pandas
* NumPy
* Matplotlib
* Seaborn
* Scikit-learn
* Keras

# Data Science Tools
|Data Science Tools|
|------------------|
|MySql|
|Apache Airflow|
|Kbana|
|Kubernetes|
|github|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
HEBER HAYDIN CORONADO